<a class="primary-color hover" data-bb="href:model.runPath"><span class="start-btn glyphicon glyphicon-play pointer" aria-hidden="true" data-toggle="tooltip" tabindex="0" title="Launch a container using this image"></span></a>
<span class="delete-btn glyphicon glyphicon-trash pointer" aria-hidden="true" data-toggle="tooltip" tabindex="0" title="Delete"></span>
