<div class="panel panel-info">
  <div class="panel-heading">Docker Images</div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="images-container"></tbody>
  </table>
</div>
