<div class="panel panel-info">
  <div class="panel-heading"><span data-bb="text:model.Name"></span></div>
  <div class="panel-body">
    <div><strong>Ports:</strong> <span data-bb="text:model.getExposedPorts"></span></div>
    <div><strong>Author:</strong> <span data-bb="text:model.Author"></span></div>
    <div><strong>Size:</strong> <span data-bb="text:model.getSize"></span></div>
    <div><strong>Created:</strong> <span data-bb="text:model.getCreated"></span></div>
  </div>
</div>
