<div class="alert alert-dismissible alert-danger closed" role="alert">
  <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <span class="message">My alert</span>
</div>
