<div class="panel panel-info">
  <div class="panel-heading">Containers</div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th class="hidden-xs">Command</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="containers-container"></tbody>
  </table>
</div>
