<td><a class="container-link"></a></td>
<td name="Image"></td>
<td class="hidden-xs" name="Command"></td>
<td name="Status"></td>
<td>
  <span class="play-btn stopped-item glyphicon glyphicon-play pointer" aria-hidden="true" tabindex="0"></span>
  <span class="stop-btn running-item glyphicon glyphicon-stop pointer" aria-hidden="true" tabindex="0"></span>
  <span class="restart-btn running-item glyphicon glyphicon-repeat pointer" aria-hidden="true" tabindex="0"></span>
  <span class="glyphicon glyphicon-refresh pointer" aria-hidden="true" tabindex="0"></span>
  <span class="glyphicon glyphicon-trash pointer" aria-hidden="true" tabindex="0"></span>
</td>
