<div class="panel panel-info">
  <div class="panel-heading">Docker Info</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3"><span class="pull-right"><strong>Version:</strong></span></div>
      <div class="col-xs-3"><span name="Version"></span></div>

      <div class="col-xs-3"><span class="pull-right"><strong>OS:</strong></span></div>
      <div class="col-xs-3"><span name="Os"></span></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><span class="pull-right"><strong>API:</strong></span></div>
      <div class="col-xs-9"><span name="ApiVersion"></span></div>
    </div>
  </div>
</div>
