<div class="navbar-region"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="alerts-region"></div>
    </div>
  </div>

  <div class="row">
    <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="/portland">Home</a></li>
        <li role="presentation"><a href="/portland/images">Images</a></li>
        <li role="presentation"><a href="/portland/containers">Containers</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="row">
        <div class="col-xs-12">
          <div class="main-content-region"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="terminal-region"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="filesystem-region"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- Standard button -->
          <button type="button" class="btn btn-default">Default</button>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-primary">Primary</button>

          <!-- Indicates a successful or positive action -->
          <button type="button" class="btn btn-success">Success</button>

          <!-- Contextual button for informational alert messages -->
          <button type="button" class="btn btn-info">Info</button>

          <!-- Indicates caution should be taken with this action -->
          <button type="button" class="btn btn-warning">Warning</button>

          <!-- Indicates a dangerous or potentially negative action -->
          <button type="button" class="btn btn-danger">Danger</button>

          <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
          <button type="button" class="btn btn-link">Link</button>
        </div>
      </div>
    </div>
  </div>
</div>
