<div class="navbar-region"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="alerts-region"></div>
    </div>
  </div>

  <div class="row">
    <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="/portland">Home</a></li>
        <li role="presentation"><a href="/portland/images">Images</a></li>
        <li role="presentation"><a href="/portland/containers">Containers</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <div class="row">
        <div class="col-xs-12">
          <div class="main-content-region"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="filesystem-region"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-region"></div>
