<a href="/portland/images" class="btn btn-block btn-info clearfix"><span class="pull-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Images</span></a>
<ul class="images-container nav nav-pills nav-stacked"></ul>
