<td><a data-bb="text:model.Name,href:model.path"></a></td>
<td><a data-bb="text:model.Image.Name,href:model.Image.path"></a></td>
<td class="hidden-xs" data-bb="text:model.Command"></td>
<td><span class="label" data-bb="text:model.Status,class:statusClass"></span></td>
<td class="actions-region"></td>
