<td><a data-bb="text:model.Name,href:model.path"></a></td>
<td name="Image"></td>
<td class="hidden-xs" data-bb="text:model.Command"></td>
<td><span class="label" data-bb="text:model.Status,class:statusClass"></span></td>
<td>
  <span class="play-btn glyphicon glyphicon-play pointer" aria-hidden="true" data-bb="displayed:!model.isRunning" data-toggle="tooltip" tabindex="0" title="Start"></span>
  <span class="stop-btn glyphicon glyphicon-stop pointer" aria-hidden="true" data-bb="displayed:model.isRunning" data-toggle="tooltip" tabindex="0" title="Stop"></span>
  <span class="restart-btn glyphicon glyphicon-repeat pointer" aria-hidden="true" data-bb="displayed:model.isRunning" data-toggle="tooltip" tabindex="0" title="Restart"></span>
  <span class="glyphicon glyphicon-refresh pointer" aria-hidden="true" data-toggle="tooltip" tabindex="0" title="Rebuild (and restart if running)"></span>
  <span class="delete-btn glyphicon glyphicon-trash pointer" aria-hidden="true" data-toggle="tooltip" tabindex="0" title="Delete"></span>
</td>
