<div class="panel panel-info">
  <div class="panel-heading"><span data-bb="text:model.Name"></span><span class="actions-region pull-right"></span></div>
  <div class="panel-body">
    <div><strong>Image:</strong> <span data-bb="text:model.Image"></span></div>
    <div><strong>Command:</strong> <span data-bb="text:model.Command"></span></div>
    <div><strong>Status:</strong> <span class="label" data-bb="text:model.Status,class:statusClass"></span></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="terminal-region"></div>
      </div>
    </div>
  </div>
</div>
