<div class="panel panel-info">
  <div class="panel-heading"><span class="container-name" bb-text="name"></span></div>
  <div class="panel-body">
    <div><strong>Image:</strong> <span name="Image"></span></div>
    <div><strong>Command:</strong> <span data-bb="text:model.Command"></span></div>
    <div><strong>Status:</strong> <span name="Status"></span></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="terminal-region"></div>
      </div>
    </div>
  </div>
</div>
