<div class="panel panel-info">
  <div class="panel-heading"><span class="container-name" bb-text="name"></span></div>
  <div class="panel-body">
    <div><strong>Image:</strong> <span name="Image"></span></div>
    <div><strong>Command:</strong> <span name="Command"></span></div>
    <div><strong>Status:</strong> <span name="Status"></span></div>
  </div>
</div>
