<div class="panel panel-info">
  <div class="panel-heading">Run New Container</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3"><span class="pull-right"><strong>Image:</strong></span></div>
      <div class="col-xs-3">
        <select class="image-selection" placeholder="Select an image...">
      </div>
    </div>
  </div>
</div>
